a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}
.alert {
  border-radius: 10px;
  background: #eee;
  padding: 0px 20px;
  position: absolute;
  top: -120px;
  left: 50%;
  transform: translateX(-50%);
  transition: top 1000ms ease;
}

.alert.moved {
  top: 20px;
}
.wrapper {
  margin: 160px auto;
}
.dashboard {
  background: #eee;
  margin: 0%;
  padding: 40px;
}
.lists {
  list-style: none;
  display: flex;
  padding: 0 40px;
}
.lists-item {
  padding: 20px;
}
.fas {
  font-size: 100px;
}
